.header
{
    background-image: url('../img/background_first_page.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.description
{
    position: relative;
    top: 200px;
}

.description p
{
    font-size: 20px;
    line-height: 1.5;
}