<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Recipe of dishes for cooking.">
    <meta name="theme-color" content="#317EFB"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    {% assets 'jquery-confirm_fontawesome_custom_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Charm|Yanone+Kaffeesatz&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Charm|Yanone+Kaffeesatz&display=swap"></noscript>
    <style type="text/css">
        .navbar
        {
            background: #57c206;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            z-index: 1030;
        }

        .nav-link , .navbar-brand
        {
            color: black;
            cursor: pointer;
        }

        .nav-link
        {
            margin-right: 1em !important;
        }

        .navbar-collapse
        {
            justify-content: flex-end;
        }

        .navbar-toggler
        {
            background:#fff !important;
        }
    </style>

    {% block variable_css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.show_first_page') }}">Кулинарная книга</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                    Блюда
                    <b class="caret"></b>
                </a>
                {% block nav_menu %}
                    <div class="dropdown-menu">
                        {% for type in types_of_dish %}
                            <a class="dropdown-item" href="{{ url_for('views.show_dishes', type_of_dishes=type.name|lower) }}">{{ type.value }}</a>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
            <a class="nav-link" data-value="conclusion" href="{{ url_for('views.show_about') }}">О проекте</a>
        </div>
    </div>
</nav>

<header class="header">
    {% block content %}
        <div class="overlay">
            <div class="container">
                <div class="row text-center description">
                    <h3>
                        Добро пожаловать на сайт "Кулинарная книга"!!!
                        <p>Здесь вы найдете множество различных рецептов! Надеюсь, что вы найдете блюда, которые
                            придутся вам по душе!</p>
                    </h3>
                </div>
            </div>
        </div>
    {% endblock %}
</header>

{% block modal_windows %}
{% endblock %}
</body>

{% assets 'popper_bootstrap_jquery-confirm_js' %}
    <script type="application/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block variable_js %}
{% endblock %}

</html>