{% extends 'main_page_for_content.html' %}

{% block import_files %}
    <link rel="stylesheet" href="{{url_for('static', filename='style_content.css')}}">
{% endblock %}

{% block title %}
    <h1>Кулинарная книга</h1>
{% endblock %}

{% block content %}
    <h2>Содержание</h2>
    {% for dish in dishes %}
        <p>{{dish[1]}}</p>
        <p>{{dish[0]}}</p>
    {% endfor %}
{% endblock %}

{% block images_of_dishes %}
    {% for url in images_url %}
        <img src={{url}}>
    {% endfor %}
{% endblock %}