<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кулинарная книга</title>
    <link rel="icon" href="data:;base64,=">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lateef|Neucha|Playfair+Display" rel="stylesheet">
    {% block import_files %}
    {% endblock %}
</head>
<body>
    {% block title %}
    <!-- здесь находится заголовок приложения - "кулинарная книга"-->
    {% endblock %}

    {% block content %}
    <!-- здесь будет заголовок "содержание" и подблоки - в них содержится тип блюда, название, некоторое описание,
    номер страницы, на которой он расположен -->
    {% endblock %}

    {% block images_of_dishes %}
    <!-- здесь будут изображения блюд (но не всех) -->
    {% endblock %}
</body>
</html>