<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кулинарная книга</title>
</head>
<body>
    {% block title_of_page %}
    <!-- заголовок страницы в виде типа блюда -->
    {% endblock %}

    {% block header_of_page %}
    <!-- еще один заголовок в виде названия блюда -->
    {% endblock %}

    {% block description_of_dish %}
    <!-- описание блюда -->
    {% endblock %}

    {% block steps_of_cook %}
    <!-- описание шагов приготовления -->
    {% endblock %}

    {% block image_of_dish %}
    <!-- изображение блюда на пол страницы (если это будет возможно) -->
    {% endblock %}

    {% block portions_and_time_on_cook %}
    <!-- количество порций и время на подготовку и приготовление -->
    {% endblock %}

    {% block ingredients_for_dish %}
    <!-- список ингредиентов -->
    {% endblock %}

    {% block implements_for_dish %}
    <!-- список утвари -->
    {% endblock %}

    {% block btn_for_add %}
    <!-- кнопка для добавления блюда (по нажатию появляется pop-up окно, позволящее ввести данные о блюде)-->
    {% endblock %}

    {% block btn_for_delete %}
    <!-- кнопка для удаления блюда (по нажатию появляется pop-up окно, спрашивающее подтверждение удаления)-->
    {% endblock %}

    {% block btn_for_update %}
    <!-- кнопка для редактирования блюда (по нажатию появляется pop-up окно со всеми данными о блюде, которые можно поменять)-->
    {% endblock %}

    {% block search_form_and_filter %}
    <!-- поисковая форма для блюд с фильтром-->
    {% endblock %}
</body>
</html>