{% extends 'main_page_table_view.html'%}

{% block css_and_js_files %}
    <link rel="icon" href="data:;base64,="/>
    {% assets 'gen_style_file' %}
        <link rel="stylesheet" href="{{ASSET_URL}}"/>
    {% endassets %}
    <script type="application/javascript">{% include 'jquery-3.3.1.min.js' %}</script>
    <script type="application/javascript">{% include 'jquery.tablesorter.js' %}</script>
    <script type="application/javascript">{% include 'ajax_requests_to_table.js' %}</script>
{% endblock %}

{% block hidden_form_with_csrf_token %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>
{% endblock %}

{% block label_with_list %}
    <div>Table:
    <select id="what_show">
        {% for title in titles %}
            {% if title == selected %}
                <option selected>{{title}}</option>
            {% else %}
                <option>{{title}}</option>
            {% endif %}
        {% endfor %}
    </select>
    </div>
{% endblock %}

{% block btn_for_delete_and_add %}
<div class="buttons">
    <button id="add">Добавить запись</button>
    <button id="delete">Удалить запись</button>
</div>
{% endblock %}

{% block for_update %}
<div class="div_for_update">
    <p>Редактирование ячейки БД</p>
    <textarea cols="72" class="update" readonly></textarea>
    <p><button id="apply" disabled>Применить</button></p>
</div>
{% endblock %}

{% block table_content %}
    <table class="content">
        <thead>
            <tr>
                {% for attr in attrs %}
                    <th>{{attr}}</th>
                {% endfor %}
            </tr>
            <tr class="filters">
                {% for attr in attrs %}
                    <td><input placeholder="фильтр"></td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr class="data">
            {% for attr in attrs %}
                <td class="item">{{item[attr]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}